$red:#b71c1c;
$red-ultra-light:#ffebee;
$red-light:#ed2c2a;
$red-dark:#670909;
$red-ultra-dark:#880d0d;
$red-bread:#9e0d0d;
$red-opacity:#ef5350;
$red-live:#ff2a28;
$red-live-light:#f44336;

$black:#000000;
$white:#ffffff;

$gray:#eceff1;
$gray-light:#cfd8dc;
$gray-ultra-light:#fafafa;
$gray-brand:#78909c;
$gray-dark:#6e6e6e;
$gray-btn:#b0bec5;

$blue-ultra-light:#02a8f3;
$blue-light:#607d8b;
$blue:#0066c4;
$blue-ultra-dark:#3d68af;
$blue-dark:#455a64;
$blue-title:#0066c8;

$green:#70c75c;
$green-dark:#1a2e35;
$green-light:#66bb6a;

$lead:#37474f;
$lead-ultra-light:#90a4ae;
$lead-light:#cfd8dc;
$lead-dark:#333333;
$lead-ultra-dark:#263238;

$blue-ocean-light:#3775dd;
$blue-ocean:#3d68af;
$blue-ocean-dark:#18376a;
$blue-ocean-ultraDark:#1268b3;
$blue-ocean-ultra:#182d50;
