<!--
  Generated template for the ComparacaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>    <header>
        <app-header-marketplace *ngIf="configuracao.modo == 'marketplace'" [navCtrl]="navCtrl"></app-header-marketplace>
        <app-header-comparacao *ngIf="configuracao.modo != 'marketplace'" [navCtrl]="navCtrl"></app-header-comparacao>
    </header></ion-header>
<ion-content class="comparacao-page comparativo">


    <!--main-->
    <main class="bg-gray">

        <!--breadcrumbie-->
        <section class="breadcrumbie-content">
            <div class="">
                <ul>
                    <li><a href="">Zukkin</a> |</li>
                    <li><a href="" class="active">Comparativo</a></li>
                </ul>
            </div>
        </section>
        <!--/breadcrumbie-->

        <div class="container bg-white">

            <div class="body" *ngIf="resumo">
                <!--h1>Veja em outros supermercados</h1-->
                <div class="row">
                    <div class="col-xs-1" style="width: 5%; margin: 0; padding: 0;">
                        <a href="#" (click)="anterior($event)" class="sprites-arrow-left">prev</a>
                    </div>
                    <div class="col-xs-10" style="width: 88%">
                        <ion-slides>
                            <ion-slide class="item" *ngFor="let item of resumo">
                                <div *ngIf="item.estabelecimento && item.lista">
                                    <div class="row">
                                        <div
                                            *ngIf="item.estabelecimento.pag_est_id == mais_barato.estabelecimento.pag_est_id"
                                            class="col-xs-12 text-center flag">
                                            <img src="assets/images/static/best-price.png" alt="" class="store">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 store-logo">
                                            <img src="{{item.estabelecimento.pag_est_logo}}"
                                                 alt="{{item.estabelecimento.label}}">
                                        </div>

                                        <div class="col-xs-6">
                                            <div class="col-xs-12 text-center">
                                                <p class="itens" *ngIf="item.lista">
                                                    <strong>{{item.lista.length}}</strong>
                                                    <span>
                                                        <strong>/ {{lista.produtos.length}}</strong> itens
                                                    </span>
                                                </p>
                                                <p class="itens">
                                                    <span class="valor">
                                                        <strong>R$ {{item.total | number: '1.2-2'}}</strong>
                                                    </span>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            {{item.estabelecimento.pag_est_marca}} -
                                            {{item.estabelecimento.pag_est_local_b2c}}
                                        </div>
                                    </div>
                                </div>
                            </ion-slide>
                        </ion-slides>
                    </div>
                    <div class="col-xs-1" style="width: 5%; margin: 0; padding: 0;">
                        <a href="#" (click)="proximo($event)" class="sprites-arrow-right">next</a>
                    </div>
                </div>

                <div class="change-store transparent">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="#" (click)="verEnderecoAtual()" class="btn btn-transparent">
                                Ver endereço
                            </a>
                        </div>
                    </div>
                </div>


                <ion-row *ngIf="atual && exibeEnderecoAtual">
                    <ion-col col-12 class="comparacao-endereco">
                        {{atual.estabelecimento.endereco}}
                    </ion-col>
                </ion-row>

                <div class="row btn-final">
                    <div class="col-xs-12 ">
                        <button class="detail-more-btn btn btn-transparent"
                                [ngClass]="exibeLista ? 'arrow-up' : ''"
                                (click)="atualizarAtual()">
                            Ver itens do seu carrinho <span class="sprites-arrow-select-fake pull-right"></span>
                        </button>

                        <div *ngIf="atual.lista.length > 0 && exibeLista" style="display: block;">
                            <div class="product-list-cart">
                                <div class="content-vertical">
                                    <div class="content-vertical--wrap" *ngFor="let item of atual.lista">

                                        <ion-row>
                                            <ion-col col-12 class="product-list-name">
                                                {{item.produto.pag_pro_nome}}
                                            </ion-col>
                                        </ion-row>

                                        <div class="row">
                                            <div class="col-xs-7 product-list">
                                                <div class="flex">
                                                    <div class="product-list-item">
                                                        <img src="{{item.produto.pag_pro_imagem}}"
                                                             alt="{{item.produto.pag_pro_nome}}" class="img-responsive"
                                                             height="60">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-5 product-list-prices">
                                                <div class="prices">
                                                    <div class="price">
                                                        R$ {{item.sub_total|number:'1.2-2'}}
                                                    </div>
                                                </div>

                                                <div class="product-list-select">
                                                    <app-produto-select-quantidade [produto]="item.produto"
                                                                                   [navCtrl]="navCtrl"></app-produto-select-quantidade>
                                                    <app-produto-btn-adicionar-remover [produto]="item.produto"
                                                                                       [navCtrl]="navCtrl"></app-produto-btn-adicionar-remover>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid">
            <section class="row">
                <div class="col-xs-12">
                    <div class="wrapper">

                        <!--logo body-->
                        <div class="content-logo--body">
                            <img src="assets/images/static/zukkin-logo-mobile-body.png" alt="">
                        </div>
                        <!--/logo-body-->

                    </div>
                </div>
            </section>
        </div>
    </main>
    <!--/main-->
    <app-footer [navCtrl]="navCtrl"></app-footer>
</ion-content>
<ion-footer>
    <app-footer-resumo [navCtrl]="navCtrl"></app-footer-resumo>
</ion-footer>
