#pm_menu {
	position: fixed; /*height: 100%*/; width: 100%; top: 0; z-index: 1001;
	//-webkit-animation: backSlideOut .3s both ease;
	//-moz-animation: backSlideOut .3s both ease;
	//animation: backSlideOut .3s both ease;
}

.home {
    #pm_menu {
        background-color: $red;
    }
}

.comparativo {
    #pm_menu {
        background-color: $blue-ultra-dark;
    }
}

#pm_menu.pm_open{
	left: 0px;
	//-webkit-animation: backSlideIn .5s both ease;
	//-moz-animation: backSlideIn .5s both ease;
	//animation: backSlideIn .5s both ease;
	height: 100%;
}
.pm_menu-header {
	width: 100%;
	height: $space-xl - 38px;
	padding:10px 0;

	span {
		color:$white;
	}

	.pm_overlay.pm_show {
		margin-top: $space-xs;
	}
}
.pm_menu-body {
	background: $gray;
	padding:$space-sm;
	width: 100%;


	ul {
		li {
			line-height: $space-md;
			a {
				color:$lead;
				font-size: $space-sm;

				span {
					margin-right: $space-sm;
				}
			}
		}
	}

	.content-menu--mobile {
		width: 80%;
    position: absolute;
    right: 0;
    top: 62px;
    background-color: $white;
		height: auto;
		max-height: 282px;
		display: none;

		.content-menu--lista {
			padding: 33px 0;

			ul {
				li {
					&:hover {
						background-color: $red-light;
						color: $white;
						font-weight: bold;
					}
					a {
						padding: 0 40px;

						&:hover {
							color:$white;
						}

						&.see-all {
							color:$red-light;
							font-size: $space-sm - 2px;

							&:hover {
								color: $white;
								font-weight: bold;
							}
						}
					}
				}
			}
		}

		.content-menu--footer {

		}
	}
}
.pm_menu-footer {
	width: 100%;
	height: $space-xl + 20px;
	background-color: $lead-ultra-dark;
	padding:$space-sm;

	ul {
		text-align: center;
		li {
			display: inline-block;
			padding: 0 10px;
			a {
				color:$white;

				span {
					display: block;
			    text-align: center;
			    margin: 0 auto;
					margin-bottom: $space-xs;
				}
			}
		}
	}
}
.pm_overlay{
	//-webkit-animation: fadeOut .5s both ease;
	//-moz-animation: fadeOut .5s both ease;
	//animation: fadeOut .5s both ease;
}
.pm_overlay.pm_show{
	display: block;
	//-webkit-animation: fadeIn .3s both ease;
	//-moz-animation: fadeIn .3s both ease;
	//animation: fadeIn .3s both ease;
}
.pm_overlay.pm_hide{
	display: none;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
	0% {opacity: 1}
}
@-moz-keyframes empty {
	0% {opacity: 1}
}
@keyframes empty {
	0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}
@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
	0% { opacity:1; }
	100% { opacity:0; display: none; }
}
@-moz-keyframes fadeOut {
	0% { opacity:1; }
	100% { opacity:0; display: none; }
}
@keyframes fadeOut {
	0% { opacity:1; }
	100% { opacity:0; display: none; }
}
@-webkit-keyframes backSlideOut {
	0% { opacity: 1; -webkit-transform: translateX(0px); }
	50% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: translateX(-100%); }
}
@-moz-keyframes backSlideOut {
	0% { opacity: 1; -webkit-transform: translateX(0px); }
	50% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: translateX(-100%); }
}
@keyframes backSlideOut {
	0% { opacity: 1; -webkit-transform: translateX(0px); }
	50% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: translateX(-100%); }
}
@-webkit-keyframes backSlideIn {
	0% { opacity: 0; -webkit-transform: translateX(-100%); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}
@-moz-keyframes backSlideIn {
	0% { opacity: 0; -webkit-transform: translateX(-100%); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}
@keyframes backSlideIn {
	0% { opacity: 0; -webkit-transform: translateX(-100%); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}
