<!--banner-fluid-->
<div class="banner-fluid" *ngIf="imagem">
    <img src="{{ imagem }}" alt="" class="img-responsive">
</div>
<!--/banner-fluid-->

<section class="row">
    <div class="col-xs-12">
        <div class="wrapper">
            <!--product-vitrine-->
            <div class="content-product--vitrine">
                <h1>{{ titulo }}</h1>
                <h2 *ngIf="categoria"><a href="#" (click)="exibirTodos($event)">Ver todos</a></h2>

                <div class="product-list  mCustomScrollbar" style="overflow-x: scroll;">
                    <div class="products-group content">
                        <app-produto-box *ngFor="let produto of produtos" [produto]="produto" [navCtrl]="navCtrl"></app-produto-box>
                    </div>
                </div>
            </div>
            <!--/product-vitrine-->
        </div>
    </div>
</section>
